<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8" />
<meta name="description"
	content="Parque Natural de Cabárceno. Gestión de áreas" />
<meta name="author" content="Alberto de Dios, Miguel Tapia" />
<link rel="icon" th:href="@{/images/favicon.ico}" />

<title>Parque Natural de Cabárceno :: Gestión de personal</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" />

<!-- CSS -->
<link th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Parque Natural de Cabárceno</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Portada</a></li>
					<li><a href="/areas">Gestión de áreas</a></li>
					<li><a href="/especies">Gestión de especies</a></li>
					<li class="active"><a href="/personal">Gestión de personal</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron areas">
			<div class="alert alert-danger" role="alert"
				th:if="${existe != null}">Ya existe ese personal. No se puede
				añadir personal repetido.</div>
			<div class="alert alert-danger" role="alert"
				th:if="${noexiste != null}">No existe ese personal.</div>
			<div class="alert alert-success" role="alert"
				th:if="${anadido != null}">Personal añadido correctamente.</div>
			<div class="alert alert-success" role="alert"
				th:if="${borrado != null}">Personal borrado correctamente.</div>
			<div class="alert alert-success" role="alert"
				th:if="${modificado != null}">Personal modificado correctamente.</div>
			<div class="alert alert-danger" role="alert"
				th:if="${#lists.isEmpty(personales) and search == null}">No hay
				personal en el parque.</div>
			<div class="alert alert-danger" role="alert"
				th:if="${#lists.isEmpty(personales) and search != null}">No hay
				personal con esa búsqueda.</div>
			<table class="table table-hover"
				th:if="${not #lists.isEmpty(personales)}">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Correo</th>
						<th>Teléfono fijo</th>
						<th>Teléfono móvil</th>
						<th>Tipo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="personal : ${personales}">
						<th scope="row" th:text="${personalStat.index + 1}"></th>
						<td th:text="${personal.nombre}"></td>
						<td th:text="${personal.apellidos}"></td>
						<td th:text="${personal.correo}"></td>
						<td th:text="${personal.telefonoFijo}"></td>
						<td th:text="${personal.telefonoMovil}"></td>
						<td th:text="${personal.tipo.value}"></td>
						<td class="centrado"><a th:href="@{/personal/borrar/} + ${personal.id}"
							class="btn btn-danger btn-xs margen">Borrar</a> <a
							th:href="@{/personal/modificar/} + ${personal.id}"
							class="btn btn-success btn-xs margen">Modificar</a></td>
					</tr>
				</tbody>
			</table>
			<p>
				<a href="/personal/anadir" class="btn btn-primary">Añadir personal</a> <a
					href="/personal/buscar" class="btn btn-primary"
					th:if="${not #lists.isEmpty(personales) or search != null}">Buscador</a>
			</p>
		</div>

	</div>
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</body>
</html>