<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta charset="UTF-8" />
<meta name="description"
	content="Parque Natural de Cabárceno. Gestión de personal" />
<meta name="author" content="Alberto de Dios, Miguel Tapia" />
<link rel="icon" th:href="@{/images/favicon.ico}" />

<title>Parque Natural de Cabárceno :: Gestión de personal ::
	Modificar personal</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
	rel="stylesheet" />

<!-- CSS -->
<link th:href="@{/css/estilo.css}" rel="stylesheet" />
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Parque Natural de Cabárceno</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/">Portada</a></li>
					<li><a href="/areas">Gestión de áreas</a></li>
					<li><a href="/especies">Gestión de especies</a></li>
					<li class="active"><a href="/personal">Gestión de personal</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron areas">
			<div class="row">
				<div class="col-md-4 col-center-block">
					<form action="/personal/modificar" method="post">
						<input type="hidden" class="form-control" name="id"
							th:value="${personal.id}" />
						<div class="form-group">
							<label for="labelNombre">Nombre</label> <input type="text"
								class="form-control" name="nombre" th:value="${personal.nombre}"
								required="required" maxlength="40" />
						</div>
						<div class="form-group">
							<label for="labelApellidos">Apellidos</label> <input type="text"
								class="form-control" name="apellidos"
								th:value="${personal.apellidos}" required="required"
								maxlength="40" />
						</div>
						<div class="form-group">
							<label for="labelCorreo">Correo</label> <input type="email"
								class="form-control" name="correo" th:value="${personal.correo}"
								required="required" maxlength="40" />
						</div>
						<div class="form-group">
							<label for="labelTelefonoFijo">Teléfono fijo</label> <input
								type="number" class="form-control" name="telefonoFijo"
								th:value="${personal.telefonoFijo}" required="required"
								maxlength="40" />
						</div>
						<div class="form-group">
							<label for="labelTelefonoMovil">Teléfono móvil</label> <input
								type="number" class="form-control" name="telefonoMovil"
								th:value="${personal.telefonoMovil}" required="required"
								maxlength="40" />
						</div>
						<div class="form-group">
							<label for="labelTipo">Tipo</label> <select name="tipo"
								class="form-control" th:remove="all-but-first">
								<option
									th:each="tipo : ${T(sd.practica1.model.TipoPersonal).values()}"
									th:value="${tipo}" th:text="${tipo.value}"
									th:selected="${tipo == personal.tipo}"></option>
							</select>
						</div>
						<button type="submit" class="btn btn-primary">Modificar</button>
					</form>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container -->


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</body>
</html>
